@model OnlineEventManagementSystem.Entity.UserManager

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/Index.cshtml";
}

    <h2 style="text-align:center">SignUp</h2>

@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true, "");
<table cellpadding="10" align="center">
    <tr>
        <td>
            @Html.Label("First Name")
        </td>
        <td>
            @Html.TextBoxFor(Model=> Model.UserFirstName)
            @Html.ValidationMessageFor(model => model.UserFirstName, "Enter a valid name")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Last Name")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.UserLastName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Mobile Number")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.UserMobileNumber)
            @Html.ValidationMessageFor(model => model.UserMobileNumber, "Enter a valid mobile number")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Mail ID")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.UserMailId)
            @Html.ValidationMessageFor(model => model.UserMailId, "Enter a valid mail ID")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Password")
        </td>
        <td>
            @Html.PasswordFor(Model => Model.UserPassword)
            @Html.ValidationMessageFor(model => model.UserPassword, "Enter a valid password")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Gender")
        </td>
        <td>
            @Html.RadioButtonFor(Model => Model.UserGender, "male")Male
            @Html.RadioButtonFor(Model => Model.UserGender, "female")Female
            @Html.ValidationMessageFor(model => model.UserMailId, "Select a valid field")
        </td>
    </tr>
    <tr colspan="2">
        <td>
            <input type="Submit" value="Sign Up" />
        </td>
    </tr>
</table>
}