@model OnlineEventManagementSystem.Entity.UserManager

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/Index.cshtml";
}

<h2 style="text-align:center">SignIn</h2>

@using (Html.BeginForm("SignIn", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true, "");
    <table cellpadding="10" align="center">
        <tr>
            <td>
                @Html.Label("Username")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.UserMailId)<br />
                @Html.ValidationMessageFor(model => model.UserMailId, "Enter a valid mail ID")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.PasswordFor(Model => Model.UserPassword)
                @Html.ValidationMessageFor(model => model.UserPassword, "Enter a valid password")
            </td>
        </tr>
        <tr>
            <td>
                <input type="Submit" />
            </td>
        </tr>
    </table>
}